{% extends 'base.html.twig' %}

{% block title %}Order details{% endblock %}
{% block stylesheets %}
<style>
    .underline {
        text-decoration: underline;
    }
</style>
{% endblock %}

{% block body %}
<h2>Order Information</h2>
<hr>
<p>
    <b>Order date :</b> {{order.createdAt|date('d/m/Y')}} <br>
    <b>Status:</b><b class="text-success"> {{
        order.state == 1 ? 'Payment accepted' :
        order.state == 2 ? 'In preparation':
        order.state == 3 ? 'Shipped': 'Waiting to confirm'
        }}</b><br>
    <b>Reference : </b><span class="text-info">{{order.reference}}</span><br>
    <b>Carrier:</b> {{order.carrierName}}<br>
    <b>Delivery details:</b> <br>
    <span class="underline">{{ order.delivery|raw }}</span><br>
</p>
<h5>Order Details</h5>
<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit Price </th>
            <th scope="col">Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for product in order.orderDetails %}
        <tr>
            <td>
                <img src="{{ asset('uploads/' ~ product.product.image) }}" alt="{{ product.product.name }}" height="50">
            </td>
            <td>{{product.product.name}}</td>
            <td>x {{product.quantity}}</td>
            <td>${{(product.price / 100)|number_format(2,',','.') }}</td>
            <td>${{(product.total / 100)|number_format(2,',','.') }}</td>
        </tr>
        {% endfor %}
        <tr>
            <th>Price</th>
            <td></td>
            <td></td>
            <td class="font-weight-bold">${{(order.total / 100)|number_format(2,',','.') }} </td>
        </tr>
    </tbody>
</table>
<div class="text-right">
    <b>Shipping fee:</b> ${{(order.carrierPrice / 100)|number_format(2,',','.') }}<br>
    <b class="font-weight-bold">Subtotal: </b><b class="text-danger">${{((order.carrierPrice + order.total) /
        100)|number_format(2,',','.') }} </b>
</div>
<a title="Back to my account" href="{{ path('account') }}"><i class='fas fa-angle-left' style='font-size:15px'></i>
    Return to My Account</a>
{% endblock %}