{% extends 'base.html.twig' %}

{% block title %}My order{% endblock %}

{% block body %}
<div class="container float-center">
    <div class="text-center">
        <img class="img-fluid rounded" src="{{ asset('assets/img/error-10376.svg') }}" alt="trade-in" height="100px"
            width="100px">
    </div>
    <h2>Your order has been cancelled :(</h2>
    <p>
        Hi, {{order.user.firstname}} {{order.user.lastname}}, <br>
        Your payment for order No. <b>{{order.reference}}</b> was unsuccessful.<br>
    </p>
    <br>
    <a class="btn btn-primary" href="{{ path('order') }}">Try again</a>
</div>
{% endblock %}